.accordion {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: upper-greek;
  max-width: min-content;
}

.accordion-item {
  flex-direction: column;
  position: relative;
  padding: 0 0 6px 0;
}
.accordion-title {
  background: #ddd;
  padding: 6px;
  min-width: 76vw;
}
.accordion-content {
  padding-left: 20px;
  list-style-type: lower-latin;
}
.accordion-key {
  padding: 6px;
}
.accordion-key:nth-child(2n + 1) {
  background: rgb(145 175 238 / 30%);
}
.accordion-key:nth-child(2n) {
  background: #eee;
}

.arrow-left::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
  visibility: visible;
}

.arrow-down::before {
  content: "";
  position: absolute;
  top: 14px;
  left: -40px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  visibility: visible;
}

input {
  height: 30px;
  font-size: 18px;
  margin: 8px 0;
}

.filter {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
  padding: 10px;
  width: 90vw;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 40vw;
  }
}

.modal-content {
  display: flex;
  margin-top: 10px;
}

.modal-key {
  border: 1px solid;
  border-right: 0;
  flex: 1;
}

.modal-value {
  border: 1px solid;
  flex: 1;
  border-left: 0;
}

.modal-item {
  border: 1px solid;
  padding: 2px 2px 2px 6px;
  height: 40px;
  align-items: center;
  display: flex;
}

.modal-item:nth-child(2n + 1) {
  background: rgb(145 175 238 / 30%);
}
.modal-item:nth-child(2n) {
  background: #eee;
}
